// Define variables for your color scheme

// For example:
// $red: #EE5F5B;
// $blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #32B796;
$dark-gray: #000000;
$gray: #707070;
$light-gray: #F4F4F4;
$blue: #1584D7;
$dark-blue: #053087;
$red: #F63F79;
$green: #4EFEDB;
$purple: #B147D4;
$teal: #20B6D9;
