.squad-container {
  display: flex;
  margin: 10px;
}

.squad-header {
  display: flex;
}

.squad-list {
  background-color: white;
  flex: 33%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 30px;
  padding: 0 15px;
}

.squad-list-row {
  p {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}
.squad-list-row-header {
  p {
    margin: 0;
  }
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  padding: 5px 15px;
  margin: 0 -15px;
  background-color: $blue;
  color: white !important;
}

.squad-list-row-wrapper {
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
}

.squad-body {
  display: flex;
  flex-direction: column;
}

.squad-player-info {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
}

.squad-player-basic {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.squad-player-name {
  a {
    color: $dark-gray;
  }
  a:hover {
    text-decoration: none;
  }
}
.squad-player-badge {
  flex: 23px;
  margin-right: 5px;
  text-align: center;
  color: $gray;
  flex-grow: 0;
}

.squad-player-stats {
  display: flex;
  justify-content: space-between;
  flex: 40%;
  flex-grow: 0;
  color: $gray;
}

.squad-player-stats-header {
  display: flex;
  justify-content: space-between;
  flex: 40%;
  flex-grow: 0;
}
.squad-player-positions {
  span {
    color: white;
    font-size: 0.8em;
    padding: 3px;
  }
  .fw {
    color: $teal;
  }
  .mf {
    color: $orange;
  }
  .df {
    color: $purple;
  }
  .gk {
    color: $dark-blue;
  }
}
.squad-place-card {
  background-color: white;
  padding: 10px;
}

.color-red {
  color: $red;
}

