.squad-container {
  display: flex;
  margin: 10px;
}

.squad-header {
  display: flex;
}

.squad-list {
  background-color: white;
  flex: 33%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 30px;
}

.squad-list-row {
  p {
    margin: 0;
  }
  display: flex;
  justify-content: space-between
}

.squad-body {
  display: flex;
  flex-direction: column;
}

.squad-player-info {
  display: flex
}

.squad-player-stats {
  display: flex;
}

.squad-place-card {
  background-color: white;
  padding: 10px;
}
