.squad-container {
  display: flex;
  margin: 10px;
}

.squad-header {
  display: flex;
}

.squad-list {
  background-color: white;
  flex: 33%;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  margin-right: 30px;
  padding: 0 15px;
}

.squad-list-row {
  p {
    margin: 0;
  }
  display: flex;
  justify-content: space-between;
}
.squad-list-row-wrapper {
  padding: 10px 0;
}

.squad-body {
  display: flex;
  flex-direction: column;
}

.squad-player-info {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  width: 100%;
}

.squad-player-basic {
  display: flex;
}

.squad-player-name {
  a {
    color: $dark-gray;
  }
  a:hover {
    text-decoration: none;
  }
}
.squad-player-badge {
  flex: 23px;
  margin-right: 5px;
  text-align: center;
}

.squad-player-stats {
  display: flex;
  justify-content: space-between;
  flex: 40%;
  flex-grow: 0;
  color: $gray;
}

.squad-place-card {
  background-color: white;
  padding: 10px;
}

