.squad-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}
.row-actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    color: $gray;
    opacity: 0.4;
  }
  a:hover {
    color: $red;
    text-decoration: none;
  }
}

.squad-place-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $teal;
  padding-left: 10px;
  padding-top: 10px;
  border-left: 4px solid $teal;
  a {
    color: $teal;
  }
  a:hover {
    color: $red;
    text-decoration: none;
  }
  h5 {
    margin: 0;
  }
}

.squad-place-card {
  // padding: 10px;
  background-color: white;
  margin-right: 10px;
  min-width: 200px;
  height: 100%;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
  display: flex;
  flex-direction: column
}

.squad-place-player {
  flex-grow: 1;
  transition-duration: 0.8s;
  display: flex;
  flex-direction: column;
}
.squad-status {
  border-left: 4px solid $teal;
  flex-grow: 1;
}
.loan-status {
 border-left: 4px solid $purple;
}
.youth-status {
  border-left: 4px solid $orange;
}
.player-status-container {
  display: flex;
}

.squad-player-card {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  align-items: center;
  border-top: 1px solid $light-gray;
  &:hover {
    cursor: move;
    background-color: $light-gray;
  }
}
.squad-status {
  .squad-player-card:last-child {
    border-bottom: 1px solid $light-gray;
  }
}
.squad-player-card:first-child {
  // padding: 0 5px 10px 5px;
}
.player-card-positions {
  display: flex;
}

.player-card-name {
  display: flex;
  justify-content: space-between;
  p {
    margin: 0;
  }
}
.player-card-avatar {
  flex: 20%;
  flex-grow: 0;
  font-size: 1.7em;
  img {
    width: 30px;
    border-radius: 50%;
  }
}

.player-card-rating {
  // color: white;
  // font-weight: bold;
  flex: 20%;
  flex-grow: 0;
  p {
    margin: 0;
    padding: 5px;
    background-color: $light-gray;
    border-radius: 5px;
  }
}
.player-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  p {
    margin: 0
  }
}

.player-card-first {
  font-weight: lighter;
}

.squad-place-count {
  margin-right: 10px;
  // font-weight: lighter;
  color: $orange;
  font-size: 0.7em;
  border: 1px solid $orange;
  border-radius: 50%;
  padding: 1px 5px;
}

.gray-background {
  background-color: $light-gray
}

.badge-legend {
  flex: 1 0 auto;
  font-family: monospace;
  margin-right: 10px;
  margin-bottom: 10px;
  p {
    margin: 0
  }
}

