.squad-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.squad-place-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  a {
    color: $blue;
  }
  a:hover {
    color: $red;
    text-decoration: none;
  }
  h5 {
    margin: 0;
  }
}

.squad-place-card {
  margin-right: 10px;
  min-width: 150px;
  border-left: 3px solid $blue;
  height: 100%;
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.player-card-name {
  display: flex;
  justify-content: space-between;
  &:hover {
    cursor: move;
  }
}
