<div class="squad-header"> <!-- flex -->
</div>

<div class="squad-container">
  <div class="squad-list" id="squad-list">
    <%= render partial: 'squads/squad_list' %>
  </div>
  <div class="squad-body" id="squad-body">
    <%= render partial: 'squads/squad_body' %>
  </div>
</div>
